@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.auth-bg {
    background-image: url(../media/bg/bg-image.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login.login-3 .login-content {
    background: transparent;
}

.auth-form-label {
    font-size: 14pt;
    color: #001564 !important;
    font-family: 'poppinsregular';
}

.auth-form-a {
    font-size: 10pt;
    color: #001564 !important;
    font-family: 'poppinsregular';
}

.auth-login-btn{
    font-family: 'poppinsbold';
    color: #fff !important;
    font-weight: bold;
    background-color:#001564 !important;
    border-color: #001564 !important;
}

.auth-left-footer{
    text-align: left;
    margin-left: 30px;
    font-size: 10px;
    color: #fff;
    font-family:  'poppinsregular';
}
.auth-right-footer{
    font-size: 10px;
    color: #001564;
    font-family:  'poppinsregular';
}
.auth-right-footer a{
    color: #001564 !important;
}
